#!/bin/bash

# Database
DB_HOST=172.20.0.1; export DB_HOST
DB_PORT=5432; export DB_PORT
DB_USERNAME=postgres; export DB_USERNAME
DB_PASSWORD=postgres; export DB_PASSWORD
DB_DATABASE=postgres; export DB_DATABASE

DB_SYNCHRONIZE=false; export DB_SYNCHRONIZE

# Node specific
NODE_ENV=production; export NODE_ENV

# Authentication
AUTHENTICATION_JWT_SECRET=secret; export AUTHENTICATION_JWT_SECRET
AUTHENTICATION_JWT_VALID_TIME=86400000; export AUTHENTICATION_JWT_VALID_TIME

# Payment
PAYPAL_MODE=sandbox; export PAYPAL_MODE
PAYPAL_CLIENT_ID='PayPal developer account is necessary'; export PAYPAL_CLIENT_ID
PAYPAL_CLIENT_SECRET='PayPal developer account is necessary'; export PAYPAL_CLIENT_SECRET

# Resource management
MAX_FILE_SIZE=100000000
RESOURCE_MANAGEMENT_JWT_SECRET=secret; export RESOURCE_MANAGEMENT_JWT_SECRET
RESOURCE_MANAGEMENT_JWT_VALID_TIME=120000; export RESOURCE_MANAGEMENT_JWT_VALID_TIME
