# Database
export DB_HOST=rogue.db.elephantsql.com
export DB_PORT=5432
export DB_USERNAME=lrvqviyx
export DB_PASSWORD=2lGO5_DYlEe1mcKIV9UceUtqdiTyYuoh
export DB_DATABASE=lrvqviyx
export DB_JDBC_URL=jdbc:postgresql://rogue.db.elephantsql.com:5432/lrvqviyx
export DB_SYNCHRONIZE=false

# Auth
export JWT_SECRET=secret
export JWT_VALID_TIME=7200000

#Node specific
export NODE_ENV=development
