.InputContainer {
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.Input {
    display: block;
    width: 100%;
    padding: .4rem .75rem;
    box-sizing: border-box;
    font: inherit;
    font-size: 1.2rem;
    border: 1px solid #ddd;
}

.Input:focus {
    outline: none;
    background: #ddd;
}

.Invalid {
    border: 1px solid red;
    background-color: #fda49a;
}

.ValidationError {
    color: red;
    margin: .25rem 0;
}