.SideDrawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: white;
}

.Shown {
    transform: translateX(0);
    transition: transform .4s ease-out;
}

.Hidden {
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}