.AuthForm {
    width: 90vw;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 4rem;
    padding: .5rem;
    box-sizing: border-box;
}

.Header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.Header button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.Header button:focus {
    outline: none;
}

.SubmitButton {
    display: block;
    width: 100%;
    padding: .4rem .75rem;
    color: white;
    font: inherit;
    font-size: 1.2rem;
    background: #247291;
    border: none;
}

.SubmitButton:focus {
    outline: none;
}

@media (min-width: 21rem) {
    .AuthForm {
        width: 19rem;
    }
}