.Explore {
    padding: .75rem 1.25rem;
    color: white;
    background: #247291;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.Explore:hover {
    color: #247291;
    background: white;   
}

.Explore:focus {
    outline: none;
}